body {
	font: 18px/30px Sans-serif;
	color: #000;
}

section {
	overflow: hidden;
	height: 993px;
}

#intro { 
	background: #c3c2c1 url(img/name-tag.jpg) left no-repeat;
	background-size: cover;
}

#intro h1 {
		width: 858px;
		height: 161px;
		background-size: cover;
		text-indent: -9999px;
		position: relative; top: 145px; left: 0;
}

#intro p {
		position: relative; top: 200px; left: 350px;
		width: 508px;
		margin: 0 0 30px 0;
}
#intro p:nth-child(2) {
		font-weight: bold;
}

#contact {
	background: #c3c2c1 url(img/envelope.jpg) left no-repeat;
	background-size:cover;
}

#hobbies {
	background: #28323c url(img/syfy.jpg);
	background-size: cover; 
}

#hobbies h2 {
		width: 740px;
		height: 324px;
		position: relative; top: 87px; left: 90px;
}
	
#hobbies p {
		position: relative; top: 110px; left: 100px;
}
	
#hobbies .btn a {
		display: block;
		width: 728px;
		height: 176px;
		position: relative; top: 70px;
}