body {
	font: 18px/30px Sans-serif;
	color: #000;
}

section {
	overflow: hidden;
	height: 993px;
}

#intro { 
	background: #c3c2c1 url(img/name-tag.jpg) left no-repeat;
	background-size: cover;
}

#intro h1 {
		width: 858px;
		margin-top:260px;
		background-size: cover;
		text-indent: 352px;
		position: relative; top: 145px; left: 0;
}

#intro p {
		position: relative; top: 200px; left: 350px;
		width: 508px;
		margin: 0 0 30px 0;
}
#intro p:nth-child(2) {
		font-weight: bold;
}

#contact {
	background: #c3c2c1 url(img/envelope.jpg) left no-repeat;
	background-size:cover;
}

#contact h2 {
		width: 858px;
		margin-top:140px;
		background-size: cover;
		text-indent: 352px;
		position: relative; top: 145px; left: 0;
}


#contact p {
	position: relative; top: 200px; left: 350px;
	width: 508px;
	margin: 0 0 30px 0;
}

#jobs {
	background: #28323c url(img/lawn-mower.jpg);
	background-size: cover; 
}

#jobs h2 {
		width: 740px;
		position: relative; top: 87px; left: 90px;
}
	
#jobs p {
		position: relative; top: 110px; left: 100px;
}

#references {
	background: #c3c2c1 url(img/telephone.jpg) left no-repeat;
	background-size:cover;
}

#references h2 {
	width: 740px;
	postition: relative;
	top: 87px;
	left: 90px;
}

#references p {
	width: 740px;
	position:relative;
}